*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0,212,255);
    background: linear-gradient(330deg, rgba(0,212,255,1) 0%, rgba(156,7,32,1) 0%, rgba(146,9,36,1) 33%, rgba(6,30,92,1) 61%, rgba(8,78,167,1) 75%, rgba(6,77,166,1) 80%, rgba(137,163,229,1) 100%, rgba(9,9,120,1) 100%, rgba(2,0,36,1) 100%);
}

.card{
    width: 25%;
    height: 45%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #960018;
    border-radius: 5%;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
    color: aliceblue;
    box-shadow: rgba(0, 0, 0, 40) 50px 45px 30px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

#senha,
#login{
    display: flex;
    flex-direction: column;

}

p{
    text-align: center;
}

#can{
    width: 50px;
    height: 50px;
}